<div class="aligner">
<mat-card class="aligner-center-item">

    <mat-card-content>

            <div class="wrapper">
                <form id="login-form" class="login" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
                    <mat-card-title>
                       Login
                    </mat-card-title>
                    <div class="form-group">

                    <input type="text" placeholder="Username" formControlName="email" autofocus/>
                    <i class="fas fa-use"></i>
                    <div *ngIf="this.loginForm.get('email').errors?.required && this.loginForm.get('email').touched"
                         class="form-control-required">Campo obligatorio</div>
                    <div *ngIf="this.loginForm.get('email').hasError('pattern')" class="form-control-required">Verifique
                        su correo</div>
                    </div>
                    <div class="form-group">
                    <input type="password" placeholder="Password" formControlName="password" required="required" />
                    <i class="fa fa-key"></i>
                    </div>
                    <a href="/register">Register</a>
                    <div class="rc-anchor rc-anchor-normal rc-anchor-light">
                        <div class="rc-anchor-content">
                            <div class="rc-inline-block checkbox">
                                <input type="checkbox" *ngIf="!radoncatcha" name="checkbox"
                                       (change)="catcha(); checked = !checked" formControlName="catchadata" required>
                            </div>

                            <div class="rc-inline-block label">
                                <label *ngIf="!radoncatcha" class="rc-anchor-center-item rc-anchor-checkbox-label"
                                       aria-hidden="true" role="presentation" id="recaptcha-anchor-label">¿Soy humano?</label>
                            </div>
                            <div class="image-catcha"></div>
                            <p *ngIf="chekedcatcha === true" class="form-control-required-capta">Por favor marque la
                                opci&oacute;n captcha</p>
                            <h4 *ngIf="radoncatcha">{{radoncatcha}}</h4>
                        </div>
                        <input type="number" *ngIf="radoncatcha" name="catcha" formControlName="catchanumber"
                               class="form-control catcha" placeholder="Catcha" required>
                    </div>
                    <button  mat-raised-button type="submit" form="login-form">
                        <i class="spinner"></i>
                        <span class="state">Log in</span>
                    </button>

                </form>


            </div>

    </mat-card-content>

</mat-card>
</div>