.container--message {
  font-size: 110%;
}

.container--button {
  margin: 1rem 0 1rem 0;
}

#btn_yes {
  float: left;
  margin-left: 1rem;
}

#btn_not {
  float: right;
  margin-right: 1rem;
}

button {
  outline: none;
}
